body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('URL_DE_TU_IMAGEN_AQUI');
        background-size: contain; 
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #f4f7f6; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        color: var(--dark-text);
        min-height: 100vh;
    }